html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-size: 1em;
}
ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header, footer, section {
  display: block;
  position: relative;
}

/* STYLES */

div.shell {
  display: block;
  /*width: 640px;*/
  margin: 0 auto;
}

/* header */

header {
  position: relative;
  z-index: 2;
  margin: 0;
  /*max-width: 640px;*/
  /*top: 51px;*/
}


header h1 {
  background-color: #7c334f;
  font-size: 2em;
  font-weight: 100;
  font-style: normal;
  color: #ece4d8;
  text-align: center;
  line-height:1;  
  padding: 5px 10px;
}

header h2 {
  background-color: #7c334f;
  color: #e69b95;
  font-size: 1.25em;
  font-weight: 200;
  padding-bottom: 14px;
  margin-top: -3px;
  text-align: center;
}

/* footer */

footer {
  background: none;
  padding-top: 104px;
  margin: -94px auto 40px;
  /*max-width:640px;*/
  text-align: center;
}


footer p {
  font-weight: 300;
  font-size: .6em;
  color: #8b786f;
}

footer a {
  color: #cd596b;
}


/* content */

body {
  background: #ece4d8;
  color: #544943;
  -webkit-font-smoothing: antialiased;
}

a, a:hover {
  color: #417090;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

p {
  margin: .7em 0 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ol {
  margin: .7em 0;
  list-style-type: decimal;
  padding-left: 1.35em;
}

ul {
  margin: .7em 0;
  padding-left: 1.35em;
}

ul li {
  padding-left: 20px;
  background: transparent url(../images/chevron-2x.png) left 15px no-repeat;
}

img {
  -webkit-box-shadow: 0px 4px 0px #bdb6ad;
  -moz-box-shadow: 0px 4px 0px #bdb6ad;
/*  box-shadow: 0px 4px 0px #bdb6ad;
  border: 4px solid #fff6e9;
*/  /*max-width: 556px;*/
}

hr {
  border: none;
  outline: none;
  height: 42px;
  background: transparent url('../images/hr-2x.jpg') center center repeat-x;
  margin: 0 0 20px;
}

code {
  background: #fff6e9;
  font: normal normal .9em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  padding: 0 5px 1px;
}

pre {
  margin: 10px 0 20px;
  padding: .7em;
  background: #fff6e9;
  border-bottom: 4px solid #bdb6ad;
  font: normal normal .9em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  overflow: auto;
}

table {
  background: #fff6e9;
  display: table;
  width: 100%;
  border-collapse: separate;
  border-bottom: 4px solid #bdb6ad;
  margin: 10px 0;
}

tr {
  display: table-row;
}

th {
  display: table-cell;
  padding: 2px 10px;
  border: solid #ece4d8;
  border-width: 0 4px 4px 0;
  color: #cd596b;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: .85em;
}

td {
  display: table-cell;
  padding: 0 .7em;
  border: solid #ece4d8;
  border-width: 0 4px 4px 0;
}

td:last-child, th:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

dl {
  margin: .7em 0 20px;
}

dt {
/*  font-family: 'Open Sans', sans-serif;
*/  font-weight: bold;
}

dd {
  padding-left: 1.35em;
}

dd p:first-child {
  margin-top: 0;
}