.clear{clear: both;}
.tuto-cnt{width: 360px; height:auto; min-height: 400px; margin: 40px auto; overflow: auto; }
.tuto-cnt p{ line-height: 18px; font-size: 14px;}
*[class^="prlx"] {
  position: absolute;
  width: 100%;
  height: 300%;
  top:0;
  left:0;
  /*z-index: -1;*/
}
/*.prlx-1{ background: repeat; }*/
.prlx-2{ background: url('../images/bg2.jpg') repeat; }

.section-one img { 
	margin-top: 4.5rem;	
}

.section-one, .section-three{
	width: 100%;
	min-height: 500px;
	position: relative;
	overflow: hidden;
}

.section-two, .section-four{
	width: 100%;
	min-height: 100px;
	position: relative;
	overflow: hidden;
}